.App-logo {
  max-width: 400px;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}
.App-footer {
  font-size: 10px;
}
.App {
  margin: 0 auto;
  max-width: 960px
}
.head-name{
  color: #6c584c;
}
body {
  background: hsla(22, 31%, 75%, 1);
}
.example {
  opacity: 0.7;
}